#nav-bar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	background-size: 100px;
}

#nav-bar li{
    float: left;
}

#nav-bar li a{
	font-size: 14px;
	display: block;
	color: gray;
	text-decoration: none;
	text-align: center;
    padding: 14px 10px;
}

#nav-bar li a:hover{
	color:	white;
}

#my_name{
	font-size: 14px;
	display: block;
	font-weight: bold;
	color: gray;
	text-align: center;
    padding: 14px;

    float: right;
}

/*Web Browsers 600px or larger*/
@media screen and (min-width: 600px)  {
	
}

/*Web Browsers 1000px or larger*/
@media screen and (min-width: 1000px) {
	#my_name{
		font-size: 16px;
		padding: 14px;
	}

	a{
		font-size: 16px;
		padding: 14px 16px;
	}

	
}

/*Web Browsers 1400px or larger*/
@media screen and (min-width: 1400px) {
	
}