ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li{
    float: left;
}

a{
	display: block;
	color: gray;
	text-decoration: none;
	text-align: center;
    padding: 14px 16px;
}

a:hover{
	color:	white;
}

#my_name{
	display: block;
	font-weight: bold;
	color: gray;
	text-align: center;
    padding: 14px 16px;

    float: right;
}

/*Web Browsers 400px or larger*/
@media screen and (min-width: 400px)  {
	
}

/*Web Browsers 600px or larger*/
@media screen and (min-width: 600px)  {
	
}

/*Web Browsers 1000px or larger*/
@media screen and (min-width: 1000px) {
	
}

/*Web Browsers 1400px or larger*/
@media screen and (min-width: 1400px) {
	
}