.demo-layout-transparent {
  background: url('../img/home_page_1366_768.png') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.mdl-layout__content{
	position: relative;
}

.container{
	margin: auto;
	width: 75%;
}

.aboutMeContent{
	padding-top: 10px;
	padding-right: 10px;
	float: left;
}

#descriptionOfMe{	
	padding-top: 10px;
}

#contactMeForm{
	visibility: collapse;
	position: absolute;
	bottom:12%;
    right:13%;
}

#contactMeForm .mdl-card__title{
	float: right;
}

#sendEmailBtn{
	float: left;
}

#cancelEmailBtn{
	float: right;
}

#projectCard{
	margin: auto;
	width: 75%; /*75 Percent width of the screen*/
	margin-top: 15px;
}

#contactMeBtn{
	position:absolute;
    bottom:5%;
    right:5%;
}

#SocialMedia{
	position: absolute;
	bottom: 5%;
	right: 40%;
}

#LinkedIn{
	padding-top: 10px;
	padding-right: 30px;
	float: left;
}

#myPhrase{
	position: absolute;
	left: 10%;
}

#downloadResume{
	position: absolute;
	width: 100%;
	bottom: 7%;
	text-align: center;
}

.footer{
	color: white;
	text-align: center;
}
